<ion-content class="ion-padding">
  <div class="header-container">
    <h2>Enter Your Phone Number</h2>
    <p>We will send you a 6-digit verification code to log in or sign up.</p>
  </div>

  <div class="form-container">
    <ion-item class="input-item">
      <ion-input 
        label="Phone Number" 
        labelPlacement="stacked" 
        type="tel" 
        placeholder="e.g. 0123456789"
        [(ngModel)]="phoneNumber">
      </ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" color="primary" class="ion-margin-top" (click)="requestOtp()">
      Get Verification Code
    </ion-button>
  </div>
</ion-content>